.find-res-form {
  .container {
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    @media (max-width: 1280px) {
      justify-content: center;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }

  }

  .custom-input {
    margin-right: 11px;
    
    @media (max-width: 1213px) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }

  }

  .main-btn {
    @media (max-width: 1280px) {
      width: 220px;
      padding: 12px 0;
    }
    @media (max-width: 1213px) {
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      width: 229px;
    }
  }

}
