.rooms-list {
  li {
    max-width: 380px;
    background-color: #ffffff;
  }

  &__image {

    img {
      width: 100%;
      height: 230px;

      @media (max-width: 400px) {
        height: 100%;
      }
    }
  }

  &__hover-content {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px;

    svg {
      position: absolute;
      top: -20px;
      left: 35px;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    padding: 16px 33px 44px 33px;
    line-height: 1.15;
    display: block;
    color: #000000;
    transition: all .3s;
    position: relative;

    &:hover {
      .rooms-list__hover-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 8px;
    @include book-bold;
    font-size: 24px;
  }

  &__desc {
    font-size: 15px;
    line-height: 25px;
  }
}

