.home-page {
  padding-top: 120px;
  @media (max-width: 768px) {
    padding-top: 104px;
  }

  .lg-toolbar {
    margin-top: 230px;
    @media (max-width: 1280px) {
      margin-top: 260px;
    }
  }

  .lg-outer .lg-object {
    max-width: 60%;
    max-height: 60%;
    margin-top: 190px;
    @media (max-width: 1280px) {
      max-width: 50%;
      max-height: 50%;
    }
    @media (max-width: 768px) {
      margin-top: 150px;
      max-width: 70%;
      max-height: 70%;
    }
  }

  .lg-next, .lg-prev {
    top: 60%;
  }

  .air-datepicker-global-container {
    z-index: 1300;
  }

  .section-title {
    color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 1.3;
    @include book-bold;
    margin: 0 auto 25px auto;
    max-width: 485px;
  }

  .section-desc {
    text-align: center;
    max-width: 780px;
    margin: 0 auto 45px auto;
  }

  .find-res-form {
    margin-bottom: 175px;
    transition: all .2s;

    .container {
      padding: 0;
    }

    .custom-input__guests-modal {
      input {
        caret-color: transparent;
        padding-right: 45px;
      }
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      bottom: auto;
    }

    &._fixed {
      background-color: #ffffff;
      height: 90px;
      position: fixed;
      top: 120px;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1020;
      box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.15);

      .custom-input {
        border: 1px solid #ADB9C7;
      }

      .container {
        padding: 0 12px;
      }

      @media (max-width: 1280px) {
        height: 130px;
      }
      @media (max-width: 930px) {
        top: 140px;
      }
      @media (max-width: 768px) {
        position: static;
        background: none;
      }
    }

    @media (max-width: 1280px) {
      margin-bottom: 165px;
    }
  }

  .header {

    &__inner {
      position: relative;
      height: 580px;
      padding: 105px 0 0;

      @media (max-width: 768px) {
        padding: 40px 0 0;
        height: 650px;
      }
      @media (max-width: 550px) {
        height: 750px;
      }

      h1 {
        color: #ffffff;
        font-size: 38px;
        @include book-bold;
        line-height: 42px;
        max-width: 900px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }

    &__inner-bg {
      position: absolute;
      top: -6%;
      width: 100%;
      z-index: -1;
      min-height: 551px;
      @media (max-width: 768px) {
        min-height: 720px;
      }
    }

    &__desc {
      color: #ffffff;
      font-size: 15px;
      @include montserrat-semibold;
      line-height: 23px;
      max-width: 920px;
      margin-bottom: 40px;
    }
  }

  .services {
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;

    @media (max-width: 1280px) {
      padding-top: 0;
    }

    &__banner {
      display: flex;
      background-color: #fff;
      align-items: center;
      padding: 28px 75px;
      position: absolute;
      width: 1220px;
      top: -126px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 1280px) {
        position: static;
        margin-bottom: 50px;
        transform: none;
        width: 100%;
        padding: 28px 15px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }

      li {
        flex: 1;

        @media (max-width: 768px) {
          width: 100%;
          display: flex;
          justify-content: center;

        }

        &:not(:last-child) {
          margin-right: 90px;
          padding-right: 73px;
          border-right: 1px solid #ADB9C7;

          @media (max-width: 1024px) {
            margin-right: 30px;
            padding-right: 30px;
          }

          @media (max-width: 768px) {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ADB9C7;
          }
        }

        &:nth-child(1) {
          margin-right: 110px;
          padding-right: 78px;
          @media (max-width: 1024px) {
            margin-right: 30px;
            padding-right: 30px;
          }

          @media (max-width: 768px) {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ADB9C7;
          }
        }

        &:last-child {
          margin-right: 13px;
          @media (max-width: 1024px) {
            margin-right: 30px;
            padding-right: 30px;
          }

          @media (max-width: 768px) {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ADB9C7;
          }
        }

        a {
          display: flex;
          align-items: center;
          text-align: center;
          color: #000;
          
          font-size: 20px;
          @include book-bold;
          line-height: 27px;
          text-decoration: #ADB9C7 underline;
          .services-banner-title-link {
            margin: 8px 0 0 0;
            &._first {
              margin: 8px 0 0 8px;
            }
            &._second {
              margin: 8px 24px 0 0;
            }
          }
        }
      }
    }

    .rooms-list {
      margin-bottom: 50px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .main-btn {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 380px;
      padding: 18px 0;
      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }

  .our-rooms {
    padding: 91px 0 76px;
    background: #D6DCE3;

    h2 {
      color: #000000;
      font-size: 38px;
      @include book-bold;
      margin: 8px 0 45px 48px;
    }

    .rooms-swiper-container {
      height: 465px;
      @media (max-width: 1024px) {
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    .rooms-swiper {
      .swiper-wrapper {
        margin-bottom: 15px;
      }

      .swiper-slide {
        transition: all .3s;
        a {
          display: block;
        }
      }

      .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.89);

        img {
          transition: all .3s;
          filter: brightness(.5)
        }

        .rooms-swiper__desc {
          opacity: 0;
        }
      }

      &__desc {
        background-color: #072E57;
        padding: 36px 46px 29px 30px;
        position: absolute;
        left: -30px;
        bottom: -60px;
        transition: all .3s;
        @media (max-width: 1024px) {
          left: 0;
        }
        @media (max-width: 768px) {
          position: static;
          max-width: 100%;
          padding: 15px 20px 10px 20px;
        }


        h4 {
          max-width: 375px;
          color: #FFF;
          font-size: 30px;
          @include book-bold;
          margin-bottom: 15px;
          @media (max-width: 768px) {
            font-size: 25px;
            max-width: 100%;
            margin-bottom: 5px;
          }
        }

        p {
          color: #ffffff;
          font-size: 15px;
          @include montserrat-regular;
          line-height: 20px;
          max-width: 375px;
          @media (max-width: 768px) {
            max-width: 100%;
          }
          min-height: 83px;
        }
      }

      &__controls {
        display: flex;
        justify-content: flex-end;
        max-width: 1250px;
        padding: 0 15px;
        margin: 0 auto;
        @media (max-width: 1280px) {
          padding: 0 90px;
        }
        @media (max-width: 1024px) {
          padding: 0;
        }
        @media (max-width: 768px) {
          padding: 0;
          margin-top: 30px;
        }

        button:first-child {
          margin-right: 20px;
        }
      }

      &__img {
        padding-top: 33%;
        position: relative;
        cursor: pointer;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .cafe {
    padding: 60px 0 80px;
    display: flex;
    justify-content: center;

    .section-title {
      margin: 0 auto 13px auto;
    }

    .section-desc {
      max-width: 980px;
      margin: 0 auto 29px auto;
    }

    &__gallery {
      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 9px;

      .cafe-gallery-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 9px;
      }

      a {
        display: inline-block;
        width: 277px;
        height: 167px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .contact-info {
    padding: 0 0 75px;

    .section-title {
      margin: 0 auto 20px auto;
    }

    .section-desc {
      max-width: 869px;
      margin: 0 auto 30px auto;
    }

    &__inner {
      max-width: 1135px;
      margin: 0 auto;
      display: flex;
      height: 413px;
      @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
      }
    }

    &__inner-contacts {
      background-color: #ffffff;
      width: 42%;
      padding: 30px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 130px 0 115px 0;
      gap: 52px;
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
        align-items: center;
      }

      li {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h5 {
          font-size: 15px;
          @include montserrat-light;
          letter-spacing: 2.25px;
          text-transform: uppercase;
        }

        p {
          font-size: 15px;
          @include montserrat-medium;
          line-height: 25px;
        }
      }
    }

    &__inner-map {
      background-color: #ffffff;
      width: 62%;
      @media (max-width: 768px) {
        width: 100%;
        height: 400px;
      }
    }
  }
}
