html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  font-size: 15px;
  line-height: 25px;
  background-color: $main-bg;
  color: $black;
  position: relative;
}

main {
  min-height: calc(100vh - 285px);
  position: relative;

  @media (max-width: 768px) {
    padding-top: 104px;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

h1 {
  @include montserrat-semibold;
  font-size: 25px;
  line-height: 30px;
}

// .flex {
//   display: flex;
// }


.hidden {
  display: none !important;
}


.sl-overlay {
  background-color: $black;
}

.sl-wrapper .sl-close {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button {
  color: #ffffff;
}

.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}


.air-datepicker-body--day-name {
  color: #817D8C;
  @include montserrat-medium;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.air-datepicker-cell.-day- {
  @include montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.air-datepicker-global-container {
  z-index: 900;
}

.date-custom-container {
  z-index: 900;
  position: absolute;
  left: 0;
  top: 0;
}


.swiper-horizontal {
  overflow: hidden;
  position: relative;

  button {
    path {
      transition: all .3s;
    }
  }
}

.input_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.site-container {
  position: relative;
  overflow: hidden;
}


.container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
}


.modal {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  width: 602px;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid #93B5C5;
  border-radius: 5px;
  padding: 44px 52px 35px 36px;
  box-shadow: 0 8px 15px rgba(51, 115, 144, 0.3);
  transition: all .2s;
  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &._active {
    z-index: 998;
    visibility: visible;
  }
}


// стили для флекс-таблиц

.flex-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }
}

.trim-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  justify-items: center;

  @media (max-width: 420px) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}

.main-btn {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  @include montserrat-medium;
  line-height: 22px;
  background: #033E7D;
  padding: 12px 48px;
  text-transform: uppercase;
  transition: all .3s;

  &._gray {
    background: #99A4B0;
    padding: 18px 34px;

    &:hover {
      background: #033E7D;
    }
  }
}

.section {
  &__title {
    @include book-bold;
    font-size: 38px;
    line-height: 1.2;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__desc {
    color: #000;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
}

.blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 0 20px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 22px;
  background-color: #0D77E7;
}

.simple-input {
  color: #000;
  font-size: 17px;
  @include montserrat-regular;
  padding: 12px 11px;
  border: 1px solid #ADB9C7;
  outline: none;
  background: #FFF;

  &::placeholder {
    color: #000;
  }

  &:focus {
    border: 1px solid #0D77E7;
  }
}

.date-wrapper {
  position: relative;

}
.booking-dates__input {
  caret-color: transparent;
}
